In [12]:
import pandas as pd 


df = pd.read_csv('C:/Users/Rachel/OneDrive/Documents/Springboard/CAPSTONE 2/energy/correlation_melt.csv', header=0)
df

,Geo,Land Area (sq km),GDP (Per capita USD),Population,Population Density (people/square km),Change in Population 10yr,Change in Energy 10yr,Percent Prod. Renewable,Nonrenewable Imports (Per Capita),Renewable Production (Per Capita)
0,Afghanistan,652860.0,484.0,37172000.0,56.93717,0.34088,0.74462,0.26072,0.00173,0.00067
1,Albania,27400.0,5254.0,2883000.0,105.21898,-0.03996,0.08539,0.39553,0.01832,0.01292
2,Algeria,2381740.0,4154.0,42228000.0,17.72989,0.21586,0.76099,0.00049,0.00138,0.00009
3,Liechtenstein,160.0,180408.0,38000.0,237.50000,0.08571,-0.20732,1.00000,0.02334,0.00872
4,Luxembourg,2430.0,117370.0,604000.0,248.55967,0.24536,-0.03460,1.00000,0.22340,0.00872
...,...,...,...,...,...,...,...,...,...,...
186,Venezuela,882050.0,7062.0,28887000.0,32.74984,0.04527,-0.45939,0.04164,0.01060,0.00817
187,Viet Nam,310070.0,2566.0,95546000.0,308.14332,0.10787,0.00603,0.23344,0.00360,0.00723
188,Yemen,527970.0,804.0,28499000.0,53.97845,0.30180,-0.46642,0.08950,0.00218,0.00033
189,Burundi,25680.0,276.0,11175000.0,435.16355,0.37522,0.04259,0.99819,0.00083,0.02762
190,Somalia,627340.0,104.0,15008000.0,23.92323,0.31684,0.29548,1.00000,0.00032,0.02477

In [13]:
df_melt = pd.melt(df, id_vars=['Geo'], var_name='Type')
df_melt

                Geo                               Type         value
0       Afghanistan                  Land Area (sq km)  6.528600e+05
1           Albania                  Land Area (sq km)  2.740000e+04
2           Algeria                  Land Area (sq km)  2.381740e+06
3     Liechtenstein                  Land Area (sq km)  1.600000e+02
4        Luxembourg                  Land Area (sq km)  2.430000e+03
...             ...                                ...           ...
1714      Venezuela  Renewable Production (Per Capita)  8.170000e-03
1715       Viet Nam  Renewable Production (Per Capita)  7.230000e-03
1716          Yemen  Renewable Production (Per Capita)  3.300000e-04
1717        Burundi  Renewable Production (Per Capita)  2.762000e-02
1718        Somalia  Renewable Production (Per Capita)  2.477000e-02

[1719 rows x 3 columns]

In [14]:
df_melt.to_csv('C:/Users/Rachel/OneDrive/Documents/Springboard/CAPSTONE 2/energy/correlation_melted.csv')